
@{
    ViewData["Title"] = "About page";
}
<section class='body-section'>
    <h3>About Us</h3>
    <p>The Village Restro, an initiative of SABAH Nepal (SAARC Business Association of Home Based Workers) is not only serving
        delicious food for you to savor but also helping hundreds of women earn their livelihood through the involvement in 
        the production,processing and cooking of food. SABAH Nepal’s skill enhancement training on cooking and hygiene coupled 
        with their inherited traditional skills has enabled these home based workers to cook like professionals. 
        SABAH Nepal (SAARC Business Association of Home Based Workers) works towards strengthening the livelihoods of
        women home based workers.

<h4>Farm to table</h4>

We source fresh organic ingredients directly from the small farms of our community members.  Food is also hygienically prepared by our trained members without using MSG or any other pre-processed ingredients and food additives.
SABAH Nepal’s skill enhancement training on cooking and hygiene coupled with their inherited traditional skills has enabled these home based workers to cook like professionals.

</p>
<h4>Restaurant Amenities</h4>
<ul>
    <li>Free WiFi</li>
    <li>Smoking Zone</li>
    <li>Live Music</li>
    <li>Parking</li>
</ul>
</section>
<footer class='footers'>
 
</footer>