@{
    ViewData["Title"] = "Blogs Page";
}
<section class='body-section'>
<p>
<h4>Modern Restaurant Management</h4>

Modern Restaurant Management is the go-to resource for on-the-go restaurant professionals. 
As the name suggests, the popular restaurant blog covers everything from recent management 
news and trends to expert advice from industry veterans.Unlike many restaurant blogs, the 
publication focuses specifically on the business of food. You won’t find menu ideas or trending
desserts here. Restaurant owners and managers look to the blog for actionable advice for 
improving restaurant operations and efficiency.
</p>
<p><h4>Restaurant Den</h4>
Restaurateurs know that marketing is more than throwing up a website and telling your friends about 
your local hot spot, so owners turn to Restaurant Den to learn the latest marketing tactics that get
guests in the door, like social media marketing, email strategies, list building techniques, search engine
optimization (SEO) and more.</p>
<p>
    <h4>Restaurant Engine</h4>
Restaurant Engine teaches business owners about the benefits of using a digital menu board, top software integrations, online ordering set up and more.

Restaurants need more than a simple “About Us” page to make an impact online. Customers expect to find menus, reviews and convenient online ordering options. It’s about creating an exceptional digital experience. Meet the demands of the modern foodie by following the advice in this blog.

<h4>Restaurant Manifesto</h4>
The Restaurant Manifesto gives readers the tools to create a flawless dining experience from the point of view of the guests, as the publication is written by conscientious diners. Readers will come away with actionable strategies for table talk, bar service and more. This restaurant blog believes that a better dining experience “will result in better service and more successful meals.”

Smart management and a stellar marketing strategy aren’t the only ingredients for success. The dining experience must also be a top priority for restaurant management. Positive experiences keep customers coming back for more. Not to mention, repeat customers cost less to acquire than new customers.

<h4>The Restaurant Expert</h4>
Your success as a business comes down to your bottom line. The Restaurant Expert helps restaurant owners manage cash flow to maximize profits. Learn how to implement money management systems by exploring topics such as menu pricing, cost calculations and software solutions.

<h4>Uncorkd</h4>
If you run a bar or serve alcohol, check out Uncorkd. This popular blog helps restaurant leaders improve beverage operations, stay on top of wine trends, create holiday cocktails and more. Readers also turn to these beverage connoisseurs for advice on liquor costs, upsell techniques and bar inventory management.

The Uncorkd mission is to “revolutionize the way people think about, purchase, and enjoy drinks in a restaurant.” Read up on popular topics to improve your restaurant or bar’s beverage game.
</p>
</section>