@{
    ViewData["Title"] = "Home Page";
}

 
  <section class='body-section'>
    <h2 style='text-align:center;color:#6C757D;'>
        Tap on <a class="navbar-icon"  asp-controller="Item" asp-action="Tablecontent">+</a>to continue
    </h2>
   </section>