@{
    ViewData["Title"] = "Home Page";
}
<section class='body-section'>
<section  class='container-fluid mt-5 ' >
    <h3>ORDER</h3>
    <h4>TABLE NO:<span style='margin-right:2px'>1</span></h4>
    
        <article id='order'>
              <h5>Strawberry Icecream</h5>
              <h6 style='margin-top:-10px'>Rs.150</h6>
          </article>
          <div class="total" style='float:right'><h4>TOTAL:RS.<span id="total">0</span></h4></div>
</section>
</section>