@{
    ViewData["Title"] = "Privacy Policy";
}

<body>
<div class="container pt-5">
  
    <div class="row justify-content-md-center">
        <div class="col-6 border border-dark">
        <p style="text-align:center">Please type the verification code sent to <span>mobile number</span></p>
            
            <form method="post" class="p-3">
                <input type="text" for="phone" class="form-control" />
                <hr />
                 <a href="" style="text-align:center">Resend?</a>
               
            </form>
             <button type="submit" class="btn btn-success form-control" style="margin-bottom:10px">Verify</button>
        </div>
       
        
    </div>
     
</div>
</body>