@{
    ViewData["Title"] = "Table";
}
<!------------------<section class='body-section'>
     <header class='d-flex justify-content-end'>
        <h5 class='text-white'>Reserved</h5>
        <div class="reserved-item"></div>
        &nbsp;&nbsp;
        <h5 class='text-white'>Available</h5>
        <div class="available-item"></div>
    </header>
<nav class="navbar my-3" style="border:0.5px solid white">
   
  <form class="container-fluid">
    <div class="input-group">
      <input type="search" id='mySearch' class="form-control" placeholder="Choose table"  onkeyup="myFunction()">
    </div>
  </form>
</nav>
<section class='table-center'>
   
       <div class="grid-container" id='myDiv'>
       <a ><div class="grid-item">T1</div></a>
       <a asp-controller="Item" asp-action="Tablecontent"><div class="grid-item">B2</div></a>
       <a asp-controller="Item" asp-action="Tablecontent"><div class="grid-item">T3</div> </a>  
       <a asp-controller="Item" asp-action="Tablecontent"><div class="grid-item">A4</div></a> 
       <a asp-controller="Item" asp-action="Tablecontent"><div class="grid-item">T5</div></a>
       <a asp-controller="Item" asp-action="Tablecontent"><div class="grid-item">B6</div> </a> 
       <a asp-controller="Item" asp-action="Tablecontent"><div class="grid-item">A7</div></a> 
       <a asp-controller="Item" asp-action="Tablecontent"><div class="grid-item">C8</div></a>
       <a asp-controller="Item" asp-action="Tablecontent"><div class="grid-item">T9</div> </a> 
       <a asp-controller="Item" asp-action="Tablecontent"><div class="grid-item">A10</div></a> 
       <a asp-controller="Item" asp-action="Tablecontent"><div class="grid-item">A9</div> </a> 
       <a asp-controller="Item" asp-action="Tablecontent"><div class="grid-item">T8</div> </a> 
       <a asp-controller="Item" asp-action="Tablecontent"><div class="grid-item">A1</div></a> 
       <a asp-controller="Item" asp-action="Tablecontent"><div class="grid-item">B4</div> </a> 
        <a asp-controller="Item" asp-action="Tablecontent"><div class="grid-item">A68</div> </a> 
       <a asp-controller="Item" asp-action="Tablecontent"><div class="grid-item">C2</div></a> 
       <a asp-controller="Item" asp-action="Tablecontent"><div class="grid-item">T6</div> </a> 
        <a asp-controller="Item" asp-action="Tablecontent"><div class="grid-item">C8</div></a> 
       <a asp-controller="Item" asp-action="Tablecontent"><div class="grid-item">B1</div> </a> 
   
        </div>

    
  

</section>
</section>

------------------->