@{
    ViewData["Title"] = "Create";
}
@model WebApplication2.Models.Item;
<div class="row justify-content-md-center ">
     <div class="col-6">
            <h4 class="text-center text-white">CREATE ITEM</h4>
            @if(TempData["error"] is not null){
                <div class="alert alert-danger">@TempData["error"]</div>
            }
             @if(TempData["msg"] is not null){
                <div class="alert alert-success">@TempData["msg"]</div>
            }
            <hr/>
            <form method="post"  asp-controller="Item" asp-action="Create">
                <div class='mb-3 text-white'>
                    <label class='form-label' asp-for="Itemname"></label>
                    <input asp-for="Itemname" class="form-control"/>
                    <span class="text-danger" asp-validation-for="Itemname"></span>
                </div>
                 <div class='mb-3 text-white'>
                    <label class='form-label' asp-for="Price"></label>
                    <input asp-for="Price" class="form-control"/>
                    <span class="text-danger" asp-validation-for="Price"></span>
                </div>
               
                <hr />
               <button type="submit" class="btn btn-success">Create</button>
             
            </form>
             
        </div>
    </div>


